
body{
    margin: 0 97px;
}

article>ul{
    list-style-type: none;
}

#input{
    background-color: #EEEE;
    text-align: center;
}


nav img{
    display: block;
    margin-left: auto;
    margin-right: auto;  
}




section>div{
    float: left;
    display: block;
    margin: 1px 1px 50px 1px;
}

section > div:first-child{
    background-color: #7EE5DA;
width: 37%;
height: 76px;   
}

section>div:nth-child(2){
    background-color: #70CCC2;
width: 18%;
height: 76px;
}

section > div:last-child{
    background-color: #62B3AA;
 width: 44.491%;
 height: 76px;
}

.fs15{
    font-size: 15px;
text-align: center;
}

.fs10{
    font-size: 13px;
}


footer{
    margin-top: 50px;
    text-align: center;
    clear: both;
}